<div class="jumbotron vertical-center">
  <div class="container text-center">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="card">
          <div class="card-body">
            <h1>USM Games Page Manager</h1>
            <div class="row">
              <div class="col-2"></div>
              <div class="col-8">
                <p class="text-muted text-left">
                  Utiliza tus credenciales de usmgames.cl para
                  acceder a esta aplicación.
                </p>
                <app-login-form></app-login-form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
