<div *ngIf="challenges$ | async as challenges; else loading">
  <div class="row ">
    <!--div class="col-1"></div-->
    <div class="col-12 ">
      <nav class="nav nav-pills justify-content-center">
        <a class="nav-item nav-link" [title]="type.name" data-toggle="tooltip" data-placement="top" [ngClass]="selectedType === type ? 'active' : ''" *ngFor="let type of challengeTypes"
           (click)="selectedType = type">{{type.emoji}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 ">
      <app-challenge-list-group [notSubmittedOnly]="notSubmittedOnly" [challenges]="filterByType(selectedType.slug, challenges)" (selected)="selected.emit($event)" ></app-challenge-list-group>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="row">
    <div class="col-12 text-center">
      <div class="spinner-border text-danger"></div>
    </div>
    <div class="col-12 text-center text-danger">
      Cargando desafíos...
    </div>
  </div>
</ng-template>
