<div *ngIf="user$ | async as user; else loading">
  <div class="container-fluid">
    <div class="row">
      <div class="card bg-dark mb-3 col-12 text-center">
        <div class="card-body">
          <h4>Bienvenid@: {{user.display_name}} ({{user.roles.join(', ')}})</h4>
        </div>
      </div>
    </div>
    <div class="col col-panel-buttons  ">
      <div *ngIf="user.roles.includes('administrator')" class="row-8 text-center align-items-center">
        <button type="button" class="btn btn-light" (click)="openModal(createChallenge)">
          Crear Desafío 🆕
        </button>
      </div>
      <div *ngIf="user.roles.includes('administrator')" class="row-6 text-center align-items-center">
        <button type="button" class="btn btn-light" (click)="openModal(evaluateChallenge)">
          Evaluar desafíos 👍
        </button>
      </div>
      <div *ngIf="user.roles.includes('administrator')" class="row-6 text-center align-items-center">
        <button type="button" class="btn btn-light" (click)="openModal(registerUser)">
          Registrar usuario 👽
        </button>
      </div>
      <div class='row-6 text-center align-items-center'>
        <button type="button" class="btn btn-primary" (click)="openModal(mySubmissions)">
          Mis entregas 👾
        </button>
      </div>
      <div class='row-6 text-center align-items-center'>
        <button type="button" class="btn btn-primary" (click)="openModal(submitChallenge)">
          Realizar Entrega 👾
        </button>
      </div>
      <div class='row-4 text-center align-items-center '>
        <button type="button" class="btn btn-primary" id='exit' (click)="logout()">
          Cerrar Sesión
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="row mt-2">
    <div class="col-12 text-center">
      <div class="spinner-border text-danger"></div>
      <div class="text-danger">Cargando usuario...</div>
    </div>
  </div>
</ng-template>
<ng-template #createChallenge let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Crear Desafío</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-challenge-create-form (submitted)="closeModal(modal)"></app-challenge-create-form>
  </div>
</ng-template>
<ng-template #evaluateChallenge let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Evaluar desafío</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-challenge-evaluation></app-challenge-evaluation>
  </div>
</ng-template>
<ng-template #registerUser let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Registrar Usuario</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-user-register></app-user-register>
  </div>
</ng-template>
<ng-template #submitChallenge let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Realizar entrega</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-challenge-submission (submitted)="closeModal(modal)"></app-challenge-submission>
  </div>
</ng-template>
<ng-template #mySubmissions let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Mis entregas</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-my-submissions [user]="user$ | async"></app-my-submissions>
  </div>
</ng-template>
<div class="row mb-2 info">
  <div class="col-12">
    <div class="alert alert-info">
      Esta aplicación se encuentra en Beta. Si encuentra un error o tiene alguna consulta, por favor no dude
      en poner un issue en nuestro <a href="https://github.com/usm-games/usmgames-page-manager/issues" target="_blank">repositorio de GitHub</a>
    </div>
  </div>
</div>
