.bg-dark {
  background-color: #1f1e20 !important;
  border: solid 1px #272727 !important;
  color: aliceblue;
}

.info {
  position: fixed;
  bottom: 20px;
  width: 100%;
  margin: 0;
}
.row-panel-buttons button{
  min-height: 80px;
  background-color: #E80049;
  border-color: rgb(238, 34, 99);
  
}